@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
	--primary: hsl(178, 100%, 50%);
	--text: hsl(215, 51%, 70%);

	--background-page: hsl(217, 54%, 11%);
	--background-card: hsl(216, 50%, 16%);
	--background-accent: hsl(215, 32%, 27%);
	--text-emphasis: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: transparent;
	text-decoration: none;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: var(--background-page);
	color: var(--text);
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: var(--background-card);
	aspect-ratio: 349 / 596;
	width: clamp(256px, 24.23%, 430px);
	border-radius: 1.125rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 3.5%;
	box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.15);
}

.nft > img {
	width: 100%;
	border-radius: 0.5625rem;
}
.nft > span {
	display: none;
}
.nft:hover {
	position: relative;
	cursor: pointer;
}
.nft:hover::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 0.5625rem;
	background-color: var(--primary);
	opacity: 50%;
	z-index: 1;
}
.nft:hover > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	place-items: center;
	z-index: 2;
}

h1 {
	color: var(--text-emphasis);
	font-size: 1.4rem;
	font-weight: 600;
	transition: 0.3s;
}
h1:hover {
	color: var(--primary);
	cursor: pointer;
}
.about {
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 140%;
}

.information {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.information > div {
	display: flex;
	gap: 6px;
}
.price > img {
	height: 85%;
	aspect-ratio: 11 / 18;
}
.price > p {
	font-weight: 600;
	color: var(--primary);
}
.remaining-rime {
	margin-left: auto;
}
.remaining-rime > img {
	height: 100%;
	aspect-ratio: 1 / 1;
}

hr {
	background-color: var(--background-accent);
	height: 1px;
}

.creator {
	display: flex;
	height: 2rem;
	font-weight: 300;
	align-items: center;
	gap: 17px;
}
.creator > img {
	height: 100%;
	border: 1px solid var(--text-emphasis);
	border-radius: 50%;
}
.creator em {
	color: var(--text-emphasis);
	font-style: normal;
	transition: 0.3s;
}
.creator em:hover {
	color: var(--primary);
	cursor: pointer;
}

@media (orientation: portrait) {
	.card {
		margin: 4rem 1.5rem;
		width: 100%;
		aspect-ratio: 327 / 539;
	}
}
